In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [3]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
x = df[['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']]
y = df['DEATH_EVENT']
#df=dataframe, x=input columns, y=output column

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [6]:
x_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
6,75.000,1,246,0,15,0,127000.00,1.20,137,1,0,10
183,75.000,0,99,0,38,1,224000.00,2.50,134,1,0,162
185,60.667,1,104,1,30,0,389000.00,1.50,136,1,0,171
146,52.000,0,132,0,30,0,218000.00,0.70,136,1,1,112
30,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27

In [7]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(12,)),  # Input layer with shape (4,) for four features
    tf.keras.layers.Dense(5, activation='sigmoid'),
    tf.keras.layers.Dense(1, activation='sigmoid')  # Single dense layer with sigmoid activation
])

In [8]:
model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])

In [109]:
model.fit(x_train, y_train, epochs=10, batch_size=10)
#epochs=no of times ran to train

Epoch 1/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - accuracy: 0.7431 - loss: 0.5740
Epoch 2/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 934us/step - accuracy: 0.7171 - loss: 0.5963
Epoch 3/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step - accuracy: 0.6871 - loss: 0.6221
Epoch 4/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 782us/step - accuracy: 0.6572 - loss: 0.6477
Epoch 5/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 822us/step - accuracy: 0.6905 - loss: 0.6195
Epoch 6/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7090 - loss: 0.6032
Epoch 7/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.6695 - loss: 0.6375
Epoch 8/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 802us/step - accuracy: 0.6833 - loss: 0.6255
Epoch 9/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 807us/step - accuracy: 0.7203 - loss: 0.5934
Epoch 10/10
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 883us/step - accuracy: 0.7542 - loss: 0.5639

In [10]:
y_pred = model.predict(x_test)

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step

In [11]:
confusion = tf.math.confusion_matrix(y_test, y_pred)

In [12]:
confusion

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[35,  0],
       [25,  0]])>